%p
  %b Name:
  = @list.name
%p
  %b Position:
  = @list.position

%ul
  - @todos.each do |todo|
    %li= "#{todo.name} (#{todo.tasks.count})"

= link_to 'Edit', edit_my_list_path(@list)
\|
= link_to 'Back', my_lists_path
