%p#notice= notice

%p
  %b Name:
  = @list.name
%p
  %b Position:
  = @list.position

%ul
  - @todos.each do |todo|
    %li= "#{todo.name} (#{todo.tasks.count})"

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', user_lists_path(current_user)
