- if @task.new_record?
  = simple_form_for([:my, @todo, @task]) do |f|
    = f.error_notification
  
    .form-inputs
      = f.input :name
      = f.input :position
      = f.input :due_at, as: :string, input_html: {data: {"date-startdate" => 3.days.ago }}
      = f.input :shared_state
      = f.input :progress_state
      = f.input :shared_state
      = f.input :predue_at, as: :string, input_html: {data: {"date-startdate" => 3.days.ago }}
      = f.input :overdue_at, as: :string, input_html: {data: {"date-startdate"=> 3.days.ago}}
  
    .form-actions
      = f.button :submit

- else
  = simple_form_for([:my, @task]) do |f|
    = f.error_notification
  
    .form-inputs
      = f.input :name
      = f.input :position
      = f.input :due_at, as: :string, input_html: {data: {"date-startdate" => 3.days.ago}}
      = f.input :shared_state
      = f.input :progress_state
      = f.input :shared_state
      = f.input :predue_at, as: :string, input_html: {data: {"date-startdate" => 3.days.ago }}
      = f.input :overdue_at, as: :string, input_html: {data: {"date-startdate" => 3.days.ago }}
  
    .form-actions
      = f.button :submit
